<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="net.davidtanzer.examples.hangman"/>

	<bean id="gameOutput" class="net.davidtanzer.examples.hangman.output.CommandLineOutput"/>

	<bean id="playerStrategy" class="net.davidtanzer.examples.hangman.player.strategy.LetterFrequencyBasedStrategy">
		<constructor-arg index="0" value="etaoinshrdlcumwfgypbvkjxqz"/>
	</bean>

	<bean id="player" class="net.davidtanzer.examples.hangman.player.StrategicPlayer">
		<constructor-arg ref="gameOutput"/>
		<constructor-arg ref="playerStrategy"/>
	</bean>

	<bean id="random" class="java.util.Random"/>

</beans>
